* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/wallpaper.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Helvetica Neue;
}

body.splash {
    padding-top: 170px;
    background-color: white;
    text-align: center;
    background-image: none;
}

body.splash:hover {
    transform: scale(1.2);
    transition: .1s;
    background-color: pink;
}

header img{
    left: 85px;
    width: 280px;
    position: fixed;
    top: 10px;
    
    
}

header img:hover{
    transform: scale(.8);
    transition: .1s;
    
}



a {
    text-decoration: none;
    color: rgb(255, 119, 160);
}

h1 {
    padding: 30px;
}

h1:hover {
    transform: scale(1.1);
    transition: .7s;
}

h3 {
    padding: 30px;
}
h3:hover {
    transform: scale(1.1);
    transition: .7s;
}
nav {
    position: fixed;
    top: 258px;
    left: 100px;
    line-height: 50%;
    background-color: rgba(0, 0, 0, 0.046);
    padding: 25px;
    margin-top:50px;
    text-align: center;
    box-shadow: 13px 13px 7px rgba(0, 0, 0, 0.261);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

section{
    background-color: rgba(0, 0, 0, 0.112);
    padding: 25px;
    margin-top:50px;
    text-align: center;
    box-shadow: 13px 13px 7px rgba(0, 0, 0, 0.261);
}

section p {
    padding-top:10px;
}

section img {
    height: auto; 
    margin: auto; 
    width: 850px;
    }

section video {
     height: auto; 
     margin: auto; 
     width: 800px;
    }

section img:hover {
    opacity: .5;
    background-color: rgb(255, 109, 174);
}

section video:hover {
    opacity: .5;
    background-color: rgb(255, 109, 174);
}

footer {
    padding-top: 30px;
    text-align: center;
    margin-left: 300px;
}

* {cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol317.cur), auto !important;}

html {
    cursor: bleh;
}
